* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:#fff;
    text-shadow:0px 2px 2px rgba(0,0,0,0.3);
}

li {
    list-style: none;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
    width:100%;
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
/* LoginBox todoBox quotes clock weather*/


.LoginBox, .todoBox, .quotes, .clock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LoginBox {
    width:100%;
    margin-bottom:15px;
    padding:15px 0;
    background:linear-gradient(to right, transparent, transparent, rgba(0,0,0,0.3), transparent, transparent);
}

#login {
    margin-bottom:15px;
}

.LoginBox input[type="text"]{
    font-size:30px;
}

.clock {
    position:fixed;
    left:30px;
    top:30px;
}

.todoBox input[type="text"] {
    height:50px;
    background:none;
    font-size:30px;text-shadow:0px 2px 2px rgba(0,0,0,0.3);
}
.todoBox input[type="text"]::placeholder {
    color:rgba(255,255,255,0.8);
}
.todoBox ul {
    margin-top:20px;
    padding:0 10px;
    width:100%;
    background:rgba(0,0,0,0.3);
    border-radius:15px;
}
.todoBox li {
    display: flex;
    justify-content: space-between;
    margin:5px 0;
}

.todoBox button {
    padding-left:5px;
    background:none;
    border:none;
    border-bottom:1px solid #333;
    cursor:pointer;
}

.quotes {
    position:fixed;
    right:0;
    bottom:0;
    width:100%;
    height:80px;
    padding-right:30px;
    background:linear-gradient(to right, transparent, transparent,rgba(0,0,0,0.5));
    align-items:flex-end;
}
.quotes h3, .quotes p {
    text-align:right;
}
.LoginBox input {
    height:40px;
}
.LoginBox input::placeholder {
    font-size:30px;
    color:rgba(255,255,255,0.6);
}
input {
    background:none;
    border:none;
    border-bottom:2px solid #fff;
}
input[type="submit"] {
    background:#fff;
    color:#333;
    margin-left:15px;
    padding:5px 15px;
    font-size:20px;
    text-shadow:none;
    box-shadow:0 3px 4px rgba(0,0,0,0.3);
}

#weather {
    position:fixed;
    right:30px;
    top:30px;
    display:flex;
    justify-content: center;
    align-items:flex-end;
    flex-direction: column;
}
#weather span {
    text-align:right;
}
.hide {
    display:none;
}